<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.croin.croin">

    <!-- CAMERA PERMISSIONS -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.view.SurfaceView" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".IdenfityActivity" />
        <activity
            android:name=".CalculatorActivity"
            android:label="@string/title_activity_calculator"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LanguageActivity"
            android:label="@string/title_activity_language"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CurrencyActivity"
            android:label="@string/title_activity_currency"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".IdentifyActivity"
            android:label="@string/title_activity_identify"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>